# exclude compiled binaries and external models
/bin

# exclude data from source control by default
/data/temp
/data/processed
/data/raw
/results
/dic
/pre-trained
/data
/paper_cites

# exclude test file
/src/sentinews/sentiment/new_sim.py

# User-specific stuff:
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/

# notebook checkpoints
*/.ipynb_checkpoints/*.ipynb
*.ipynb
